{% extends "base.html" %}
{% block content %}
    <div id="loginPage" class="container">
        <div class="wrapper fadeInDown">
          <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
              <span>Welcome!</span>
            </div>

            <form action="" method="post" novalidate>
              {{ form.hidden_tag() }}
              <p>
                {{ form.username.label }}<br>
                    {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
              </p>

              <p>
                {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
              </p>
              <input type="submit" class="fadeIn fourth" name={{form.submit.name}} value="Log In">
              <p class="underlineHover">{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    {% for message in messages %}
                      <li>{{ message }}</li>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
            </form>
            <div id="formFooter">
              <a class="underlineHover" href="{{ url_for('register') }}" >Forgot Password?</a>
            </div>

          </div>
        </div>
    </div>
{% endblock %}