{% extends "base.html" %}
{% block content %}
    <div  id="singleBookPage" class="container">
        <div class="row">
            <div class="container col-sm"> <img class="img-fluid"  src={{posts.BookImgLink}} height="500" width="500" > </div>
            <div class="container col-sm">
                <div class="row"><h3>Book Name:</h3><h3>{{ posts.bookName }}</h3></div>
                <div class="row"><h3>Author:</h3><h3>{{ posts.author }}</h3></div>
                <div class="row"><h3>Cost:</h3><h3>{{ posts.cost }}</h3></div>
                <div class="row"><h3>Amount:</h3><h3>{{ posts.amount }}</h3></div>
                <div class="row"><h3>Lenght:</h3><h3>{{ posts.lenght }}</h3></div>
                <div class="row"><h3>Language:</h3><h3>{{ posts.lenght }}</h3></div>
                <div class="row"><h3>Rating:</h3><h3>{{ posts.rating }}</h3></div>
            </div>
        </div>
        <hr>
        <div class="row"><h3>Description:</h3><h3>{{ posts.description }}</h3></div>
    </div>
{% endblock %}
